<div class="container-fluid">
    <div class="card ">
        <!-- <form> -->
        <form class="form-inline">
            <div class="form-group col-sm-9">
                <label for="">First Name</label>
                <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId"
                    onkeyup="search()">
            </div>
            <div class="form-group col-sm-3 float-left">
                <button type="button" class="btn btn-outline-primary" [routerLink]="[ 'add',0 ]">Add Employee
                </button>
            </div>
        </form>
        <div class="col-sm-1-12">
            <div class="row">
                <div class="card" *ngFor="let item of employeeModellst" style="width: 18rem;">
                    <div class="card-body">
                        <h4 class="card-title">{{item.id}}</h4>
                        <h6 class="card-subtitle text-muted">{{item.name}}</h6>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Text</p>
                        <a href="#" class="card-link">View</a>
                        <a href="#" class="card-link" [routerLink]="['add',item.id]">Edit</a>
                    </div>
                </div>
            </div>
            <!-- <table class="table table-striped table-inverse table-responsive">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of employeeModellst">
                            <td scope="row">{{ item.id }}</td>
                            <td>{{ item.name }}</td>
                            <td>
                                <div class="list-group">
                                    <button type="button" class="list-group-item list-group-item-action active">
                                        Active item
                                    </button>
                                    <button type="button" class="list-group-item list-group-item-action">
                                        Item
                                    </button>
                                    <button type="button" class="list-group-item list-group-item-action disabled">
                                        Disabled item
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row"></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table> -->
        </div>
        <!-- <div class="form-group">
        <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-primary" [routerLink]="[ 'add' ]">Add</button>
        </div>
    </div> -->
        <!-- </form> -->
    </div>
</div>